.results {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
}

.result {
    padding: 1rem;
    max-width: 350px;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
}

